<!-- Hero Section -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welkom op TheaterOnline.be</h1>
        <p class="lead">Een gezamelijke plek voor alle vlaamse theater/optredens.</p>
        <h2>Wie ben jij?</h2>
        <ul>
            <li>acteur</li>
            <li>theatergroep</li>
            <li>theaterliefhebber</li>
            <li>zanger(es)</li>
            <li>danser(es)</li>
        </ul>
        <a href="/proposal" class="btn btn-primary btn-lg">Meer info</a>
    </div>
</div>