<!-- Hero Section -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welkom op TheaterOnline.be</h1>
        <p class="lead">Een gezamelijke plek voor alle vlaamse theater/optredens.</p>
        <h2>Wie ben jij?</h2>
        <ul>
            <li>acteur</li>
            <li>theatergroep</li>
            <li>theaterliefhebber</li>
            <li>zanger(es)</li>
            <li>danser(es)</li>
        </ul>
        <a href="/proposal" class="btn btn-primary btn-lg">Meer info</a>
        <hr>
        <h2>Github</h2>
        <p>Om de vooruitgang van TheaterOnline te volgen, kunt u mijn GitHub-profiel bezoeken.</p>
        <div class="container mt-5">
            <div class="card" style="width: 18rem;">
                <img src="https://github.com/DanteDeketele/TheaterOnline/raw/main/public/img/logo.svg"
                    class="card-img-top" alt="GitHub Profile Image">
                <div class="card-body">
                    <h5 class="card-title">Dante Deketele</h5>
                    <p class="card-text">Check out my GitHub profile for updates and contributions to TheaterOnline.</p>
                    <a href="https://github.com/DanteDeketele/TheaterOnline" class="btn btn-primary">Visit GitHub
                        Profile</a>
                </div>
            </div>
        </div>
        <h2>Prototype</h2>
        <p>Een paar maanden geleden begon ik met het prototype van de site. Alles wat in het business model staat is mogelijk.<br/>De volgende video toont dit prototype:</p>
        <video width="600" controls>
            <source src="/videos/prototype.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>