<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to TheaterOnline.be</h1>
        <p class="lead">This is a simple example of a home page.</p>
        <hr class="my-4">
        <p>Feel free to customize it according to your needs!</p>
        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
    </div>
</div>